doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/c3.css')
	body
		block content
		script(type='text/javascript' src="/js/underscore-min.js")
		script(type='text/javascript' src='/js/d3.v3.min.js' charset='utf-8')
		script(type='text/javascript' src='/js/barChart.js')
		script(type='text/javascript' src='/js/startEndSlider.js')
		script(type='text/javascript' src='/js/jquery-1.11.1.min.js')
		script(type='text/javascript' src='/js/d3.tip.v0.6.3.js')
		script(type='text/javascript' src='/js/bootstrap.min.js')
		script(type='text/javascript' src='/js/util.js')
		script(type='text/javascript' src='/js/visualization.js')
		script(type='text/javascript' src='/js/main.js')
