* {
	margin: 0;
	padding: 0;
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
	outline: none;
}

.land {
	fill: #ddd;
}

path {
	stroke: grey;
	stroke-width: 0.5px;
	fill: #ccc;
}

.bubble {
	fill-opacity: .5;
	stroke: #fff;
	stroke-width: .5px;
	fill: brown;
}

.bubble :hover {
	stroke: black;
}

#controls {
	position: relative;
	left: 15px;
	top: 250px;
}

.cq-1, .cq-2, .cq-4 {
	display: none;
}

#menu-toggle {
	padding-right:20px;
}

.container .btn-group .active,
.container .btn-group-vertical .active {
	background-color : green
}
#year-wrapper {
/*
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: black;
*/
	height: 300px;
	width: 120px;
	float: left;
}
#year-btn-wrapper {
	overflow-y: scroll;
	height: 200px;
	width: 80px;
}

#qtr-wrapper {
	text-align:  center;
/* 
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
*/
}

#canvas-div {
/*
	outline: 1px solid black;
	background: transparent;
*/
	height: 300px;
	position: relative;
}


#pie-div {
/*
	outline: 1px solid black;
	background: transparent;
*/
	height: 300px;
	position: relative;
}

#bar-div {
/*
	outline: 1px solid black;
	background: transparent;
*/
	height: 300px;
	float: right;
	position: relative;
}

#cluster-div {
/*
	outline: 1px solid black;
	background: transparent;
*/
	height: 300px;
	position: relative;
}

#footer {
	bottom: 0;
	color: black;
	position: absolute;
	right: 0;
	width: 235px;
	z-index: 999999;
}

.loadingbtn {
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.glyphicon-refresh-animate {
	-animation: spin .7s infinite linear;
	-webkit-animation: spin .7s infinite linear;
}

@-webkit-keyframes spin2 {
	from { -webkit-transform: rotate(0deg);}
	to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}

/*
 * The below contain css for the visualization area.
 */
svg {
	font: 10px sans-serif;
	display: block;
}

.d3-tip {
  line-height: 1;
  font-weight: normal;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 9999;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 5px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
